:root {
    --title-color: #212121;
    --main-text-color: #757575;
    --accent-color: #2196F3;
    --hero-footer-background: #2F303A;
    --main-site-background: #FFFFFF;
    --second-site-background: #E5E5E5;
    --header-logo-color: #000000;
    --footer-logo-color: #ffffff;
    --footer-text-color: #ffffff;
    --hero-title-color: #ffffff;
    --hero-btn-color: #ffffff;
    --hero-btn-background: #2196F3;
    --team-item-background: #ffffff;


}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    background: var(--main-site-background);
}

.header-nav-list .active {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* -------- header -------- */

.header-logo,
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logo-span {
    color: var(--header-logo-color);
}

.header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
}

.header-mail,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header .link:hover,
.header .link:focus {
    color: var(--accent-color);
}

.footer-list .link:hover,
.footer-list .link:focus {
    color: var(--accent-color);
}

/* -------- hero -------- */

.hero {
    background: var(--hero-footer-background);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
}

.hero-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-btn-color);
    background: var(--hero-btn-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* -------- features -------- */

.features-item-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: inherit;
}

.features-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* -------- gellery -------- */

.gellery-title,
.team-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
}

/* -------- team -------- */

.team {
    background: var(--second-site-background);
}

.team-item {
    background-color: var(--team-item-background);
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* -------- footer -------- */

.footer {
    background: var(--hero-footer-background);
}

.footer-logo-span {
    color: var(--footer-logo-color);
}

.footer-item-text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
}

.footer-mail,
.footer-tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


/* -------- portfolio -------- */



.portfolio-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: inhe rit;
    background: var(--second-site-background);
    border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--hero-btn-color);
    background: var(--hero-btn-background);
}

.portfolio-item-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}