:root {
    --primary-menu-title-color: #212121;
    --text-color: #757575;
    --accant-color: #2196F3;
    --primaty-white-color: #E5E5E5;
    --secondary-color: #F5F4FA;
}


/* калір фону background: #E5E5E5; */
/* калір фону вторинний background: #F5F4FA; */
/* колір тексту заголовки і меню primary-menu-color: #212121; */
/* колір тексту в параграфах text-color: #757575; */
/* колір тексту в посиланнях adres color: rgba(255, 255, 255, 0.6); */
/* білий колір color: #FFFFFF; */
/* акценти accant-color: #2196F3; */


/* body це .page */

.page {
    background-color: #E5E5E5;
    color: var(--primary-menu-title-color);
}

    /* logo */

.logo {
    color: #000000;
}

/* site nav */

.site-nav, .link {
    color: var(--primary-menu-title-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accant-color);
}

.site-nav .link.current {
    color: var(--accant-color);
}

/* hero */

.hero-title {
    color: #FFFFFF;
}

/* section */

,section .section-title {
    color: var(--primary-menu-title-color);
}

.list {
    list-style: none;
}

/* features */

.feature-list .title {
    color: var(--primary-menu-title-color);
}

.feature-list .text {
    color: var(--text-color);
}

/* button */

.button {
    background-color: var(--primaty-white-color);
    color: var(--primary-menu-title-color);

    font-size: 24px;
    padding: 12px 24px;
    display: inline-block;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button.primary {
    color: var(--primaty-white-color);
    background-color: var(--accant-color);
    border-color: transparent;
    
}

button.secondary {
    color: var(--primary-menu-title-color);
    background-color: var(--secondary-color);
    border-color: var(--primaty-white-color);
}